<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--갤러리 관련 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudBridge"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".view.registeStore.UpdateStoreActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.NoRegistsStoreActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.MyStoreActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.FarewellActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.DeleteUserActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.UpdateUserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.myPage.MyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.intro.SignOrLoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.intro.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.registeStore.RegisteStoreActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity
            android:name=".view.registeStore.AddressActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao$48342662e12c5df7648b803836d9c87d" />
            </intent-filter>
        </activity>
    </application>

</manifest>